@using PagedList.Mvc;
@using PagedList;

@model IPagedList<ClassifiedMVC.Models.Classified>

<div class="container">
    <div class="row" style="margin-bottom:18px;"> </div>


    <div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="main_panel">
                @if (ViewBag.searchString != null)
                {
                    <h2>Searching Results for: @ViewBag.searchString</h2>
                }
                else
                {
                    if (ViewBag.searchCategory != null)
                    {
                        <h2>Posty z kategorii: @ViewBag.searchCategory</h2>
                    }
                    else
                    {
                        <h2>Latest classsified:</h2>
                    }

                }
                <table class="table table-hover">
                    @*<tr>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.Category.Name)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.User.Email)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.DateAdded)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th></th>
                        </tr>*@

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center; width: 180px;">
                                @if (item.Photos.Count() > 0)
                                {
                                    foreach (var p in item.Photos)
                                    {
                                        if (p.MainPhoto == true)
                                        {
                                            <img src="@p.Path" style="height:120px" />
                                            break;
                                        }
                                    }
                                }
                                else
                                {
                                    <img src="/Content/photos/default.jpg" style="height:120px" />
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Classifieds",new { id=item.ClassifiedID})" class="ClassifiedDetailsLink">
                                    <span>@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>


                                <p class="ClassifiedPathText">@Html.DisplayFor(modelItem => item.CategoryPath)</p><br />
                                <span class="ClassifiedLocationText">@ViewBag.loc[item.ClassifiedID]</span>
                                <p class="ClassifiedPathText">@Html.DisplayFor(modelItem => item.DateAdded)</p>
                            </td>

                            <td style="text-align:right">
                                <span class="ClassifiedPriceText">@Html.DisplayFor(modelItem => item.Price) zł</span>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">

            <div id="zegar" style="font-size: 40px;text-align: center;">
            </div>



            @using (Html.BeginForm("Index", "Classifieds", FormMethod.Get))
            {
                <div class="answer_panel">

                    <div style="text-align:center; padding: 15px 15px;">
                        <span style="color: black;">@Html.TextBox("SearchString")</span>

                        <input type="submit" value="Search" class="mySubmitButton" />
                    </div>

                </div>

                <div style="margin-top: 0px">
                    <div id="moreOptions" class="d1">
                        <span style="font-size:10px;">More Options</span>
                        <span style="font-size:10px;" class="glyphicon glyphicon-chevron-down"></span>
                    </div>





                    <div id="SearchModelDiv" class="asd"   style="display:@ViewBag.Filters">
                        @Html.Action("GenerateSearchModel", "Classifieds", new { model = ViewBag.SM })
                    </div>
                </div>

            }





            <div id="AdminMessage" style="text-align:center; ">
                <div class="post_panel">
                    <div class="panel-heading">
                        Message from Admins
                    </div>

                    <div id="AdminMessageBody" class="panel-body">

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#moreOptions").click(function () {
            $(this).next('.asd').slideToggle("slow");
        });
    });

</script>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = Request.QueryString["searchString"] }),

    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }

)


