@model ClassifiedMVC.Models.User

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pagination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagination)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>

        <br />
        <br />

        <dt>           
        </dt>
        <dd>
            <input type="button" value="Edit Profil" class="btn btn-warning" onclick="location.href='@Url.Action("EditForUser", "Users", new { id = Model.Id })'" />
            <input type="button" value="My Messages" class="btn btn-success" onclick="location.href='@Url.Action("MyMessages", "Home")'" />
            <input type="button" value="My Classified" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Classifieds", new { myClassified=true })'" />
            <input type="button" value="My Favourite Categories" class="btn btn-primary" onclick="location.href='@Url.Action("MyCategories", "Home")'" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to HomePage", "Index", "Classifieds")
</p>
