@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Create", "Classifieds")" class="addClassifiedLink">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span> Add Classified</span>
            </a>

        </li>
        <li>
            <a href="@Url.Action("MyProfile", "Home")" class="MyProfileLink">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <span>My Profile</span>
            </a>

        </li>
        <li>
            @if (User.IsInRole("Admin"))
            {
                int id2 = ClassifiedMVC.Controllers.ClassifiedsController.howManyReported();
                <a href="@Url.Action("Index", "Classifieds", new { ReportedOnly = true })" class="MyProfileLink">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    @if (id2 == 0)
                    {
                        <span id="sumOfNewReportedMessages" style="color:gray">(0)</span>
                    }
                    else
                    {
                        <span id="sumOfNewReportedMessages" style="color:red">(@id2)</span>
                    }
                </a>
            }
        </li>
        <li>
            @{
                int id = ClassifiedMVC.Controllers.HomeController.howManyNms2(User.Identity.GetUserId());
            }
            <a href="@Url.Action("MyMessages", "Home")" class="MyProfileLink">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                @if (id == 0)
                {
                    <span id="sumOfNewMessages" style="color:gray">(0)</span>
                }
                else
                {
                    <span id="sumOfNewMessages" style="color:red">(@id)</span>
                }
            </a>

        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Create", "Classifieds")" class="addClassifiedLink">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span> Add Classified</span>
            </a>

        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
